@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*:focus {
  outline: none;
}

img {
  max-width: 100;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-2 > * {
  padding: 0.125em;
}

.gap-2 {
  margin-left: -0.125em;
  margin-right: -0.125em;
}

.gap-4 > * {
  padding: 0.25em;
}

.gap-4 {
  margin-left: -0.25em;
  margin-right: -0.25em;
}

.gap-6 > * {
  padding: 0.5em;
}

.gap-6 {
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.gap-8 > * {
  padding: 0.75em;
}

.gap-8 {
  margin-left: -0.75em;
  margin-right: -0.75em;
}

.gap-10 > * {
  padding: 1em;
}

.gap-10 {
  margin-left: -1em;
  margin-right: -1em;
}

.gap-12 > * {
  padding: 1.25em;
}

.gap-12 {
  margin-left: -1.25em;
  margin-right: -1.25em;
}

.gap-14 > * {
  padding: 1.5em;
}

.gap-14 {
  margin-left: -1.5em;
  margin-right: -1.5em;
}

.justify-flex-start {
  justify-content: flex-start;
}

.align-flex-start {
  align-items: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-flex-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-space-between {
  align-items: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-space-around {
  align-items: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-space-evenly {
  align-items: space-evenly;
}

@media (min-width: 0) {
  .col-0-xs {
    flex-grow: 0;
    width: 0%;
  }
  .col-1-xs {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-0-sm {
    flex-grow: 0;
    width: 0%;
  }
  .col-1-sm {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-0-md {
    flex-grow: 0;
    width: 0%;
  }
  .col-1-md {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-0-lg {
    flex-grow: 0;
    width: 0%;
  }
  .col-1-lg {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-0-xl {
    flex-grow: 0;
    width: 0%;
  }
  .col-1-xl {
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    flex-grow: 0;
    width: 100%;
  }
}
.p-0 {
  padding: 0em;
}

.p-2 {
  padding: 0.25em;
}

.p-4 {
  padding: 0.5em;
}

.p-6 {
  padding: 0.75em;
}

.p-8 {
  padding: 1em;
}

.p-10 {
  padding: 1.25em;
}

.pl-0 {
  padding-left: 0em;
}

.pl-2 {
  padding-left: 0.25em;
}

.pl-4 {
  padding-left: 0.5em;
}

.pl-6 {
  padding-left: 0.75em;
}

.pl-8 {
  padding-left: 1em;
}

.pl-10 {
  padding-left: 1.25em;
}

.pr-0 {
  padding-right: 0em;
}

.pr-2 {
  padding-right: 0.25em;
}

.pr-4 {
  padding-right: 0.5em;
}

.pr-6 {
  padding-right: 0.75em;
}

.pr-8 {
  padding-right: 1em;
}

.pr-10 {
  padding-right: 1.25em;
}

.pt-0 {
  padding-top: 0em;
}

.pt-2 {
  padding-top: 0.25em;
}

.pt-4 {
  padding-top: 0.5em;
}

.pt-6 {
  padding-top: 0.75em;
}

.pt-8 {
  padding-top: 1em;
}

.pt-10 {
  padding-top: 1.25em;
}

.pb-0 {
  padding-bottom: 0em;
}

.pb-2 {
  padding-bottom: 0.25em;
}

.pb-4 {
  padding-bottom: 0.5em;
}

.pb-6 {
  padding-bottom: 0.75em;
}

.pb-8 {
  padding-bottom: 1em;
}

.pb-10 {
  padding-bottom: 1.25em;
}

.m-0 {
  margin: 0em;
}

.m-2 {
  margin: 0.25em;
}

.m-4 {
  margin: 0.5em;
}

.m-6 {
  margin: 0.75em;
}

.m-8 {
  margin: 1em;
}

.m-10 {
  margin: 1.25em;
}

.mr-0 {
  margin-right: 0em;
}

.mr-2 {
  margin-right: 0.25em;
}

.mr-4 {
  margin-right: 0.5em;
}

.mr-6 {
  margin-right: 0.75em;
}

.mr-8 {
  margin-right: 1em;
}

.mr-10 {
  margin-right: 1.25em;
}

.ml-0 {
  margin-left: 0em;
}

.ml-2 {
  margin-left: 0.25em;
}

.ml-4 {
  margin-left: 0.5em;
}

.ml-6 {
  margin-left: 0.75em;
}

.ml-8 {
  margin-left: 1em;
}

.ml-10 {
  margin-left: 1.25em;
}

.mt-0 {
  margin-top: 0em;
}

.mt-2 {
  margin-top: 0.25em;
}

.mt-4 {
  margin-top: 0.5em;
}

.mt-6 {
  margin-top: 0.75em;
}

.mt-8 {
  margin-top: 1em;
}

.mt-10 {
  margin-top: 1.25em;
}

.mb-0 {
  margin-bottom: 0em;
}

.mb-2 {
  margin-bottom: 0.25em;
}

.mb-4 {
  margin-bottom: 0.5em;
}

.mb-6 {
  margin-bottom: 0.75em;
}

.mb-8 {
  margin-bottom: 1em;
}

.mb-10 {
  margin-bottom: 1.25em;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.rounded-none {
  border-radius: 0;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.5rem;
}

.rounded-lg {
  border-radius: 0.75rem;
}

.rounded-full {
  border-radius: 9999px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}

.text-xs {
  font-size: 0.5rem;
}

.text-sm {
  font-size: 0.6666666667rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.border-sm {
  border: 1px;
}

.border {
  border: 2px;
}

.border-md {
  border: 3px;
}

.border-lg {
  border: 4px;
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-none {
  border-style: none;
}

.text-fire {
  color: #ef3e36;
}

.text-fire-hover:hover {
  color: #ef3e36;
}

.bg-fire {
  background-color: #ef3e36;
}

.bg-fire-hover:hover {
  background-color: #ef3e36;
}

.text-fire-light-1 {
  color: #f1514a;
}

.text-fire-light-1-hover:hover {
  color: #f1514a;
}

.bg-fire-light-1 {
  background-color: #f1514a;
}

.bg-fire-light-1-hover:hover {
  background-color: #f1514a;
}

.text-fire-light-2 {
  color: #f2655e;
}

.text-fire-light-2-hover:hover {
  color: #f2655e;
}

.bg-fire-light-2 {
  background-color: #f2655e;
}

.bg-fire-light-2-hover:hover {
  background-color: #f2655e;
}

.text-fire-light-3 {
  color: #f47872;
}

.text-fire-light-3-hover:hover {
  color: #f47872;
}

.bg-fire-light-3 {
  background-color: #f47872;
}

.bg-fire-light-3-hover:hover {
  background-color: #f47872;
}

.text-fire-light-4 {
  color: #f58b86;
}

.text-fire-light-4-hover:hover {
  color: #f58b86;
}

.bg-fire-light-4 {
  background-color: #f58b86;
}

.bg-fire-light-4-hover:hover {
  background-color: #f58b86;
}

.text-fire-light-5 {
  color: #f79f9b;
}

.text-fire-light-5-hover:hover {
  color: #f79f9b;
}

.bg-fire-light-5 {
  background-color: #f79f9b;
}

.bg-fire-light-5-hover:hover {
  background-color: #f79f9b;
}

.text-fire-light-6 {
  color: #f9b2af;
}

.text-fire-light-6-hover:hover {
  color: #f9b2af;
}

.bg-fire-light-6 {
  background-color: #f9b2af;
}

.bg-fire-light-6-hover:hover {
  background-color: #f9b2af;
}

.text-fire-light-7 {
  color: #fac5c3;
}

.text-fire-light-7-hover:hover {
  color: #fac5c3;
}

.bg-fire-light-7 {
  background-color: #fac5c3;
}

.bg-fire-light-7-hover:hover {
  background-color: #fac5c3;
}

.text-fire-light-8 {
  color: #fcd8d7;
}

.text-fire-light-8-hover:hover {
  color: #fcd8d7;
}

.bg-fire-light-8 {
  background-color: #fcd8d7;
}

.bg-fire-light-8-hover:hover {
  background-color: #fcd8d7;
}

.text-fire-light-9 {
  color: #fdeceb;
}

.text-fire-light-9-hover:hover {
  color: #fdeceb;
}

.bg-fire-light-9 {
  background-color: #fdeceb;
}

.bg-fire-light-9-hover:hover {
  background-color: #fdeceb;
}

.text-fire-dark-1 {
  color: #d73831;
}

.text-fire-dark-1-hover:hover {
  color: #d73831;
}

.bg-fire-dark-1 {
  background-color: #d73831;
}

.bg-fire-dark-1-hover:hover {
  background-color: #d73831;
}

.text-fire-dark-2 {
  color: #bf322b;
}

.text-fire-dark-2-hover:hover {
  color: #bf322b;
}

.bg-fire-dark-2 {
  background-color: #bf322b;
}

.bg-fire-dark-2-hover:hover {
  background-color: #bf322b;
}

.text-fire-dark-3 {
  color: #a72b26;
}

.text-fire-dark-3-hover:hover {
  color: #a72b26;
}

.bg-fire-dark-3 {
  background-color: #a72b26;
}

.bg-fire-dark-3-hover:hover {
  background-color: #a72b26;
}

.text-fire-dark-4 {
  color: #8f2520;
}

.text-fire-dark-4-hover:hover {
  color: #8f2520;
}

.bg-fire-dark-4 {
  background-color: #8f2520;
}

.bg-fire-dark-4-hover:hover {
  background-color: #8f2520;
}

.text-fire-dark-5 {
  color: #781f1b;
}

.text-fire-dark-5-hover:hover {
  color: #781f1b;
}

.bg-fire-dark-5 {
  background-color: #781f1b;
}

.bg-fire-dark-5-hover:hover {
  background-color: #781f1b;
}

.text-fire-dark-6 {
  color: #601916;
}

.text-fire-dark-6-hover:hover {
  color: #601916;
}

.bg-fire-dark-6 {
  background-color: #601916;
}

.bg-fire-dark-6-hover:hover {
  background-color: #601916;
}

.text-fire-dark-7 {
  color: #481310;
}

.text-fire-dark-7-hover:hover {
  color: #481310;
}

.bg-fire-dark-7 {
  background-color: #481310;
}

.bg-fire-dark-7-hover:hover {
  background-color: #481310;
}

.text-fire-dark-8 {
  color: #300c0b;
}

.text-fire-dark-8-hover:hover {
  color: #300c0b;
}

.bg-fire-dark-8 {
  background-color: #300c0b;
}

.bg-fire-dark-8-hover:hover {
  background-color: #300c0b;
}

.text-fire-dark-9 {
  color: #180605;
}

.text-fire-dark-9-hover:hover {
  color: #180605;
}

.bg-fire-dark-9 {
  background-color: #180605;
}

.bg-fire-dark-9-hover:hover {
  background-color: #180605;
}

.text-cyan {
  color: #17bebb;
}

.text-cyan-hover:hover {
  color: #17bebb;
}

.bg-cyan {
  background-color: #17bebb;
}

.bg-cyan-hover:hover {
  background-color: #17bebb;
}

.text-cyan-light-1 {
  color: #2ec5c2;
}

.text-cyan-light-1-hover:hover {
  color: #2ec5c2;
}

.bg-cyan-light-1 {
  background-color: #2ec5c2;
}

.bg-cyan-light-1-hover:hover {
  background-color: #2ec5c2;
}

.text-cyan-light-2 {
  color: #45cbc9;
}

.text-cyan-light-2-hover:hover {
  color: #45cbc9;
}

.bg-cyan-light-2 {
  background-color: #45cbc9;
}

.bg-cyan-light-2-hover:hover {
  background-color: #45cbc9;
}

.text-cyan-light-3 {
  color: #5dd2cf;
}

.text-cyan-light-3-hover:hover {
  color: #5dd2cf;
}

.bg-cyan-light-3 {
  background-color: #5dd2cf;
}

.bg-cyan-light-3-hover:hover {
  background-color: #5dd2cf;
}

.text-cyan-light-4 {
  color: #74d8d6;
}

.text-cyan-light-4-hover:hover {
  color: #74d8d6;
}

.bg-cyan-light-4 {
  background-color: #74d8d6;
}

.bg-cyan-light-4-hover:hover {
  background-color: #74d8d6;
}

.text-cyan-light-5 {
  color: #8bdfdd;
}

.text-cyan-light-5-hover:hover {
  color: #8bdfdd;
}

.bg-cyan-light-5 {
  background-color: #8bdfdd;
}

.bg-cyan-light-5-hover:hover {
  background-color: #8bdfdd;
}

.text-cyan-light-6 {
  color: #a2e5e4;
}

.text-cyan-light-6-hover:hover {
  color: #a2e5e4;
}

.bg-cyan-light-6 {
  background-color: #a2e5e4;
}

.bg-cyan-light-6-hover:hover {
  background-color: #a2e5e4;
}

.text-cyan-light-7 {
  color: #b9eceb;
}

.text-cyan-light-7-hover:hover {
  color: #b9eceb;
}

.bg-cyan-light-7 {
  background-color: #b9eceb;
}

.bg-cyan-light-7-hover:hover {
  background-color: #b9eceb;
}

.text-cyan-light-8 {
  color: #d1f2f1;
}

.text-cyan-light-8-hover:hover {
  color: #d1f2f1;
}

.bg-cyan-light-8 {
  background-color: #d1f2f1;
}

.bg-cyan-light-8-hover:hover {
  background-color: #d1f2f1;
}

.text-cyan-light-9 {
  color: #e8f9f8;
}

.text-cyan-light-9-hover:hover {
  color: #e8f9f8;
}

.bg-cyan-light-9 {
  background-color: #e8f9f8;
}

.bg-cyan-light-9-hover:hover {
  background-color: #e8f9f8;
}

.text-cyan-dark-1 {
  color: #15aba8;
}

.text-cyan-dark-1-hover:hover {
  color: #15aba8;
}

.bg-cyan-dark-1 {
  background-color: #15aba8;
}

.bg-cyan-dark-1-hover:hover {
  background-color: #15aba8;
}

.text-cyan-dark-2 {
  color: #129896;
}

.text-cyan-dark-2-hover:hover {
  color: #129896;
}

.bg-cyan-dark-2 {
  background-color: #129896;
}

.bg-cyan-dark-2-hover:hover {
  background-color: #129896;
}

.text-cyan-dark-3 {
  color: #108583;
}

.text-cyan-dark-3-hover:hover {
  color: #108583;
}

.bg-cyan-dark-3 {
  background-color: #108583;
}

.bg-cyan-dark-3-hover:hover {
  background-color: #108583;
}

.text-cyan-dark-4 {
  color: #0e7270;
}

.text-cyan-dark-4-hover:hover {
  color: #0e7270;
}

.bg-cyan-dark-4 {
  background-color: #0e7270;
}

.bg-cyan-dark-4-hover:hover {
  background-color: #0e7270;
}

.text-cyan-dark-5 {
  color: #0c5f5e;
}

.text-cyan-dark-5-hover:hover {
  color: #0c5f5e;
}

.bg-cyan-dark-5 {
  background-color: #0c5f5e;
}

.bg-cyan-dark-5-hover:hover {
  background-color: #0c5f5e;
}

.text-cyan-dark-6 {
  color: #094c4b;
}

.text-cyan-dark-6-hover:hover {
  color: #094c4b;
}

.bg-cyan-dark-6 {
  background-color: #094c4b;
}

.bg-cyan-dark-6-hover:hover {
  background-color: #094c4b;
}

.text-cyan-dark-7 {
  color: #073938;
}

.text-cyan-dark-7-hover:hover {
  color: #073938;
}

.bg-cyan-dark-7 {
  background-color: #073938;
}

.bg-cyan-dark-7-hover:hover {
  background-color: #073938;
}

.text-cyan-dark-8 {
  color: #052625;
}

.text-cyan-dark-8-hover:hover {
  color: #052625;
}

.bg-cyan-dark-8 {
  background-color: #052625;
}

.bg-cyan-dark-8-hover:hover {
  background-color: #052625;
}

.text-cyan-dark-9 {
  color: #021313;
}

.text-cyan-dark-9-hover:hover {
  color: #021313;
}

.bg-cyan-dark-9 {
  background-color: #021313;
}

.bg-cyan-dark-9-hover:hover {
  background-color: #021313;
}

.text-salmon {
  color: #a63a50;
}

.text-salmon-hover:hover {
  color: #a63a50;
}

.bg-salmon {
  background-color: #a63a50;
}

.bg-salmon-hover:hover {
  background-color: #a63a50;
}

.text-salmon-light-1 {
  color: #af4e62;
}

.text-salmon-light-1-hover:hover {
  color: #af4e62;
}

.bg-salmon-light-1 {
  background-color: #af4e62;
}

.bg-salmon-light-1-hover:hover {
  background-color: #af4e62;
}

.text-salmon-light-2 {
  color: #b86173;
}

.text-salmon-light-2-hover:hover {
  color: #b86173;
}

.bg-salmon-light-2 {
  background-color: #b86173;
}

.bg-salmon-light-2-hover:hover {
  background-color: #b86173;
}

.text-salmon-light-3 {
  color: #c17585;
}

.text-salmon-light-3-hover:hover {
  color: #c17585;
}

.bg-salmon-light-3 {
  background-color: #c17585;
}

.bg-salmon-light-3-hover:hover {
  background-color: #c17585;
}

.text-salmon-light-4 {
  color: #ca8996;
}

.text-salmon-light-4-hover:hover {
  color: #ca8996;
}

.bg-salmon-light-4 {
  background-color: #ca8996;
}

.bg-salmon-light-4-hover:hover {
  background-color: #ca8996;
}

.text-salmon-light-5 {
  color: #d39da8;
}

.text-salmon-light-5-hover:hover {
  color: #d39da8;
}

.bg-salmon-light-5 {
  background-color: #d39da8;
}

.bg-salmon-light-5-hover:hover {
  background-color: #d39da8;
}

.text-salmon-light-6 {
  color: #dbb0b9;
}

.text-salmon-light-6-hover:hover {
  color: #dbb0b9;
}

.bg-salmon-light-6 {
  background-color: #dbb0b9;
}

.bg-salmon-light-6-hover:hover {
  background-color: #dbb0b9;
}

.text-salmon-light-7 {
  color: #e4c4cb;
}

.text-salmon-light-7-hover:hover {
  color: #e4c4cb;
}

.bg-salmon-light-7 {
  background-color: #e4c4cb;
}

.bg-salmon-light-7-hover:hover {
  background-color: #e4c4cb;
}

.text-salmon-light-8 {
  color: #edd8dc;
}

.text-salmon-light-8-hover:hover {
  color: #edd8dc;
}

.bg-salmon-light-8 {
  background-color: #edd8dc;
}

.bg-salmon-light-8-hover:hover {
  background-color: #edd8dc;
}

.text-salmon-light-9 {
  color: #f6ebee;
}

.text-salmon-light-9-hover:hover {
  color: #f6ebee;
}

.bg-salmon-light-9 {
  background-color: #f6ebee;
}

.bg-salmon-light-9-hover:hover {
  background-color: #f6ebee;
}

.text-salmon-dark-1 {
  color: #953448;
}

.text-salmon-dark-1-hover:hover {
  color: #953448;
}

.bg-salmon-dark-1 {
  background-color: #953448;
}

.bg-salmon-dark-1-hover:hover {
  background-color: #953448;
}

.text-salmon-dark-2 {
  color: #852e40;
}

.text-salmon-dark-2-hover:hover {
  color: #852e40;
}

.bg-salmon-dark-2 {
  background-color: #852e40;
}

.bg-salmon-dark-2-hover:hover {
  background-color: #852e40;
}

.text-salmon-dark-3 {
  color: #742938;
}

.text-salmon-dark-3-hover:hover {
  color: #742938;
}

.bg-salmon-dark-3 {
  background-color: #742938;
}

.bg-salmon-dark-3-hover:hover {
  background-color: #742938;
}

.text-salmon-dark-4 {
  color: #642330;
}

.text-salmon-dark-4-hover:hover {
  color: #642330;
}

.bg-salmon-dark-4 {
  background-color: #642330;
}

.bg-salmon-dark-4-hover:hover {
  background-color: #642330;
}

.text-salmon-dark-5 {
  color: #531d28;
}

.text-salmon-dark-5-hover:hover {
  color: #531d28;
}

.bg-salmon-dark-5 {
  background-color: #531d28;
}

.bg-salmon-dark-5-hover:hover {
  background-color: #531d28;
}

.text-salmon-dark-6 {
  color: #421720;
}

.text-salmon-dark-6-hover:hover {
  color: #421720;
}

.bg-salmon-dark-6 {
  background-color: #421720;
}

.bg-salmon-dark-6-hover:hover {
  background-color: #421720;
}

.text-salmon-dark-7 {
  color: #321118;
}

.text-salmon-dark-7-hover:hover {
  color: #321118;
}

.bg-salmon-dark-7 {
  background-color: #321118;
}

.bg-salmon-dark-7-hover:hover {
  background-color: #321118;
}

.text-salmon-dark-8 {
  color: #210c10;
}

.text-salmon-dark-8-hover:hover {
  color: #210c10;
}

.bg-salmon-dark-8 {
  background-color: #210c10;
}

.bg-salmon-dark-8-hover:hover {
  background-color: #210c10;
}

.text-salmon-dark-9 {
  color: #110608;
}

.text-salmon-dark-9-hover:hover {
  color: #110608;
}

.bg-salmon-dark-9 {
  background-color: #110608;
}

.bg-salmon-dark-9-hover:hover {
  background-color: #110608;
}

.text-cream {
  color: #f0e7d8;
}

.text-cream-hover:hover {
  color: #f0e7d8;
}

.bg-cream {
  background-color: #f0e7d8;
}

.bg-cream-hover:hover {
  background-color: #f0e7d8;
}

.text-cream-light-1 {
  color: #f2e9dc;
}

.text-cream-light-1-hover:hover {
  color: #f2e9dc;
}

.bg-cream-light-1 {
  background-color: #f2e9dc;
}

.bg-cream-light-1-hover:hover {
  background-color: #f2e9dc;
}

.text-cream-light-2 {
  color: #f3ece0;
}

.text-cream-light-2-hover:hover {
  color: #f3ece0;
}

.bg-cream-light-2 {
  background-color: #f3ece0;
}

.bg-cream-light-2-hover:hover {
  background-color: #f3ece0;
}

.text-cream-light-3 {
  color: #f5eee4;
}

.text-cream-light-3-hover:hover {
  color: #f5eee4;
}

.bg-cream-light-3 {
  background-color: #f5eee4;
}

.bg-cream-light-3-hover:hover {
  background-color: #f5eee4;
}

.text-cream-light-4 {
  color: #f6f1e8;
}

.text-cream-light-4-hover:hover {
  color: #f6f1e8;
}

.bg-cream-light-4 {
  background-color: #f6f1e8;
}

.bg-cream-light-4-hover:hover {
  background-color: #f6f1e8;
}

.text-cream-light-5 {
  color: #f8f3ec;
}

.text-cream-light-5-hover:hover {
  color: #f8f3ec;
}

.bg-cream-light-5 {
  background-color: #f8f3ec;
}

.bg-cream-light-5-hover:hover {
  background-color: #f8f3ec;
}

.text-cream-light-6 {
  color: #f9f5ef;
}

.text-cream-light-6-hover:hover {
  color: #f9f5ef;
}

.bg-cream-light-6 {
  background-color: #f9f5ef;
}

.bg-cream-light-6-hover:hover {
  background-color: #f9f5ef;
}

.text-cream-light-7 {
  color: #fbf8f3;
}

.text-cream-light-7-hover:hover {
  color: #fbf8f3;
}

.bg-cream-light-7 {
  background-color: #fbf8f3;
}

.bg-cream-light-7-hover:hover {
  background-color: #fbf8f3;
}

.text-cream-light-8 {
  color: #fcfaf7;
}

.text-cream-light-8-hover:hover {
  color: #fcfaf7;
}

.bg-cream-light-8 {
  background-color: #fcfaf7;
}

.bg-cream-light-8-hover:hover {
  background-color: #fcfaf7;
}

.text-cream-light-9 {
  color: #fefdfb;
}

.text-cream-light-9-hover:hover {
  color: #fefdfb;
}

.bg-cream-light-9 {
  background-color: #fefdfb;
}

.bg-cream-light-9-hover:hover {
  background-color: #fefdfb;
}

.text-cream-dark-1 {
  color: #d8d0c2;
}

.text-cream-dark-1-hover:hover {
  color: #d8d0c2;
}

.bg-cream-dark-1 {
  background-color: #d8d0c2;
}

.bg-cream-dark-1-hover:hover {
  background-color: #d8d0c2;
}

.text-cream-dark-2 {
  color: #c0b9ad;
}

.text-cream-dark-2-hover:hover {
  color: #c0b9ad;
}

.bg-cream-dark-2 {
  background-color: #c0b9ad;
}

.bg-cream-dark-2-hover:hover {
  background-color: #c0b9ad;
}

.text-cream-dark-3 {
  color: #a8a297;
}

.text-cream-dark-3-hover:hover {
  color: #a8a297;
}

.bg-cream-dark-3 {
  background-color: #a8a297;
}

.bg-cream-dark-3-hover:hover {
  background-color: #a8a297;
}

.text-cream-dark-4 {
  color: #908b82;
}

.text-cream-dark-4-hover:hover {
  color: #908b82;
}

.bg-cream-dark-4 {
  background-color: #908b82;
}

.bg-cream-dark-4-hover:hover {
  background-color: #908b82;
}

.text-cream-dark-5 {
  color: #78746c;
}

.text-cream-dark-5-hover:hover {
  color: #78746c;
}

.bg-cream-dark-5 {
  background-color: #78746c;
}

.bg-cream-dark-5-hover:hover {
  background-color: #78746c;
}

.text-cream-dark-6 {
  color: #605c56;
}

.text-cream-dark-6-hover:hover {
  color: #605c56;
}

.bg-cream-dark-6 {
  background-color: #605c56;
}

.bg-cream-dark-6-hover:hover {
  background-color: #605c56;
}

.text-cream-dark-7 {
  color: #484541;
}

.text-cream-dark-7-hover:hover {
  color: #484541;
}

.bg-cream-dark-7 {
  background-color: #484541;
}

.bg-cream-dark-7-hover:hover {
  background-color: #484541;
}

.text-cream-dark-8 {
  color: #302e2b;
}

.text-cream-dark-8-hover:hover {
  color: #302e2b;
}

.bg-cream-dark-8 {
  background-color: #302e2b;
}

.bg-cream-dark-8-hover:hover {
  background-color: #302e2b;
}

.text-cream-dark-9 {
  color: #181716;
}

.text-cream-dark-9-hover:hover {
  color: #181716;
}

.bg-cream-dark-9 {
  background-color: #181716;
}

.bg-cream-dark-9-hover:hover {
  background-color: #181716;
}

.text-yellow {
  color: #ffe347;
}

.text-yellow-hover:hover {
  color: #ffe347;
}

.bg-yellow {
  background-color: #ffe347;
}

.bg-yellow-hover:hover {
  background-color: #ffe347;
}

.text-yellow-light-1 {
  color: #ffe659;
}

.text-yellow-light-1-hover:hover {
  color: #ffe659;
}

.bg-yellow-light-1 {
  background-color: #ffe659;
}

.bg-yellow-light-1-hover:hover {
  background-color: #ffe659;
}

.text-yellow-light-2 {
  color: #ffe96c;
}

.text-yellow-light-2-hover:hover {
  color: #ffe96c;
}

.bg-yellow-light-2 {
  background-color: #ffe96c;
}

.bg-yellow-light-2-hover:hover {
  background-color: #ffe96c;
}

.text-yellow-light-3 {
  color: #ffeb7e;
}

.text-yellow-light-3-hover:hover {
  color: #ffeb7e;
}

.bg-yellow-light-3 {
  background-color: #ffeb7e;
}

.bg-yellow-light-3-hover:hover {
  background-color: #ffeb7e;
}

.text-yellow-light-4 {
  color: #ffee91;
}

.text-yellow-light-4-hover:hover {
  color: #ffee91;
}

.bg-yellow-light-4 {
  background-color: #ffee91;
}

.bg-yellow-light-4-hover:hover {
  background-color: #ffee91;
}

.text-yellow-light-5 {
  color: #fff1a3;
}

.text-yellow-light-5-hover:hover {
  color: #fff1a3;
}

.bg-yellow-light-5 {
  background-color: #fff1a3;
}

.bg-yellow-light-5-hover:hover {
  background-color: #fff1a3;
}

.text-yellow-light-6 {
  color: #fff4b5;
}

.text-yellow-light-6-hover:hover {
  color: #fff4b5;
}

.bg-yellow-light-6 {
  background-color: #fff4b5;
}

.bg-yellow-light-6-hover:hover {
  background-color: #fff4b5;
}

.text-yellow-light-7 {
  color: #fff7c8;
}

.text-yellow-light-7-hover:hover {
  color: #fff7c8;
}

.bg-yellow-light-7 {
  background-color: #fff7c8;
}

.bg-yellow-light-7-hover:hover {
  background-color: #fff7c8;
}

.text-yellow-light-8 {
  color: #fff9da;
}

.text-yellow-light-8-hover:hover {
  color: #fff9da;
}

.bg-yellow-light-8 {
  background-color: #fff9da;
}

.bg-yellow-light-8-hover:hover {
  background-color: #fff9da;
}

.text-yellow-light-9 {
  color: #fffced;
}

.text-yellow-light-9-hover:hover {
  color: #fffced;
}

.bg-yellow-light-9 {
  background-color: #fffced;
}

.bg-yellow-light-9-hover:hover {
  background-color: #fffced;
}

.text-yellow-dark-1 {
  color: #e6cc40;
}

.text-yellow-dark-1-hover:hover {
  color: #e6cc40;
}

.bg-yellow-dark-1 {
  background-color: #e6cc40;
}

.bg-yellow-dark-1-hover:hover {
  background-color: #e6cc40;
}

.text-yellow-dark-2 {
  color: #ccb639;
}

.text-yellow-dark-2-hover:hover {
  color: #ccb639;
}

.bg-yellow-dark-2 {
  background-color: #ccb639;
}

.bg-yellow-dark-2-hover:hover {
  background-color: #ccb639;
}

.text-yellow-dark-3 {
  color: #b39f32;
}

.text-yellow-dark-3-hover:hover {
  color: #b39f32;
}

.bg-yellow-dark-3 {
  background-color: #b39f32;
}

.bg-yellow-dark-3-hover:hover {
  background-color: #b39f32;
}

.text-yellow-dark-4 {
  color: #99882b;
}

.text-yellow-dark-4-hover:hover {
  color: #99882b;
}

.bg-yellow-dark-4 {
  background-color: #99882b;
}

.bg-yellow-dark-4-hover:hover {
  background-color: #99882b;
}

.text-yellow-dark-5 {
  color: #807224;
}

.text-yellow-dark-5-hover:hover {
  color: #807224;
}

.bg-yellow-dark-5 {
  background-color: #807224;
}

.bg-yellow-dark-5-hover:hover {
  background-color: #807224;
}

.text-yellow-dark-6 {
  color: #665b1c;
}

.text-yellow-dark-6-hover:hover {
  color: #665b1c;
}

.bg-yellow-dark-6 {
  background-color: #665b1c;
}

.bg-yellow-dark-6-hover:hover {
  background-color: #665b1c;
}

.text-yellow-dark-7 {
  color: #4d4415;
}

.text-yellow-dark-7-hover:hover {
  color: #4d4415;
}

.bg-yellow-dark-7 {
  background-color: #4d4415;
}

.bg-yellow-dark-7-hover:hover {
  background-color: #4d4415;
}

.text-yellow-dark-8 {
  color: #332d0e;
}

.text-yellow-dark-8-hover:hover {
  color: #332d0e;
}

.bg-yellow-dark-8 {
  background-color: #332d0e;
}

.bg-yellow-dark-8-hover:hover {
  background-color: #332d0e;
}

.text-yellow-dark-9 {
  color: #1a1707;
}

.text-yellow-dark-9-hover:hover {
  color: #1a1707;
}

.bg-yellow-dark-9 {
  background-color: #1a1707;
}

.bg-yellow-dark-9-hover:hover {
  background-color: #1a1707;
}

.text-lila {
  color: #9c89b8;
}

.text-lila-hover:hover {
  color: #9c89b8;
}

.bg-lila {
  background-color: #9c89b8;
}

.bg-lila-hover:hover {
  background-color: #9c89b8;
}

.text-lila-light-1 {
  color: #a695bf;
}

.text-lila-light-1-hover:hover {
  color: #a695bf;
}

.bg-lila-light-1 {
  background-color: #a695bf;
}

.bg-lila-light-1-hover:hover {
  background-color: #a695bf;
}

.text-lila-light-2 {
  color: #b0a1c6;
}

.text-lila-light-2-hover:hover {
  color: #b0a1c6;
}

.bg-lila-light-2 {
  background-color: #b0a1c6;
}

.bg-lila-light-2-hover:hover {
  background-color: #b0a1c6;
}

.text-lila-light-3 {
  color: #baaccd;
}

.text-lila-light-3-hover:hover {
  color: #baaccd;
}

.bg-lila-light-3 {
  background-color: #baaccd;
}

.bg-lila-light-3-hover:hover {
  background-color: #baaccd;
}

.text-lila-light-4 {
  color: #c4b8d4;
}

.text-lila-light-4-hover:hover {
  color: #c4b8d4;
}

.bg-lila-light-4 {
  background-color: #c4b8d4;
}

.bg-lila-light-4-hover:hover {
  background-color: #c4b8d4;
}

.text-lila-light-5 {
  color: #cec4dc;
}

.text-lila-light-5-hover:hover {
  color: #cec4dc;
}

.bg-lila-light-5 {
  background-color: #cec4dc;
}

.bg-lila-light-5-hover:hover {
  background-color: #cec4dc;
}

.text-lila-light-6 {
  color: #d7d0e3;
}

.text-lila-light-6-hover:hover {
  color: #d7d0e3;
}

.bg-lila-light-6 {
  background-color: #d7d0e3;
}

.bg-lila-light-6-hover:hover {
  background-color: #d7d0e3;
}

.text-lila-light-7 {
  color: #e1dcea;
}

.text-lila-light-7-hover:hover {
  color: #e1dcea;
}

.bg-lila-light-7 {
  background-color: #e1dcea;
}

.bg-lila-light-7-hover:hover {
  background-color: #e1dcea;
}

.text-lila-light-8 {
  color: #ebe7f1;
}

.text-lila-light-8-hover:hover {
  color: #ebe7f1;
}

.bg-lila-light-8 {
  background-color: #ebe7f1;
}

.bg-lila-light-8-hover:hover {
  background-color: #ebe7f1;
}

.text-lila-light-9 {
  color: #f5f3f8;
}

.text-lila-light-9-hover:hover {
  color: #f5f3f8;
}

.bg-lila-light-9 {
  background-color: #f5f3f8;
}

.bg-lila-light-9-hover:hover {
  background-color: #f5f3f8;
}

.text-lila-dark-1 {
  color: #8c7ba6;
}

.text-lila-dark-1-hover:hover {
  color: #8c7ba6;
}

.bg-lila-dark-1 {
  background-color: #8c7ba6;
}

.bg-lila-dark-1-hover:hover {
  background-color: #8c7ba6;
}

.text-lila-dark-2 {
  color: #7d6e93;
}

.text-lila-dark-2-hover:hover {
  color: #7d6e93;
}

.bg-lila-dark-2 {
  background-color: #7d6e93;
}

.bg-lila-dark-2-hover:hover {
  background-color: #7d6e93;
}

.text-lila-dark-3 {
  color: #6d6081;
}

.text-lila-dark-3-hover:hover {
  color: #6d6081;
}

.bg-lila-dark-3 {
  background-color: #6d6081;
}

.bg-lila-dark-3-hover:hover {
  background-color: #6d6081;
}

.text-lila-dark-4 {
  color: #5e526e;
}

.text-lila-dark-4-hover:hover {
  color: #5e526e;
}

.bg-lila-dark-4 {
  background-color: #5e526e;
}

.bg-lila-dark-4-hover:hover {
  background-color: #5e526e;
}

.text-lila-dark-5 {
  color: #4e455c;
}

.text-lila-dark-5-hover:hover {
  color: #4e455c;
}

.bg-lila-dark-5 {
  background-color: #4e455c;
}

.bg-lila-dark-5-hover:hover {
  background-color: #4e455c;
}

.text-lila-dark-6 {
  color: #3e374a;
}

.text-lila-dark-6-hover:hover {
  color: #3e374a;
}

.bg-lila-dark-6 {
  background-color: #3e374a;
}

.bg-lila-dark-6-hover:hover {
  background-color: #3e374a;
}

.text-lila-dark-7 {
  color: #2f2937;
}

.text-lila-dark-7-hover:hover {
  color: #2f2937;
}

.bg-lila-dark-7 {
  background-color: #2f2937;
}

.bg-lila-dark-7-hover:hover {
  background-color: #2f2937;
}

.text-lila-dark-8 {
  color: #1f1b25;
}

.text-lila-dark-8-hover:hover {
  color: #1f1b25;
}

.bg-lila-dark-8 {
  background-color: #1f1b25;
}

.bg-lila-dark-8-hover:hover {
  background-color: #1f1b25;
}

.text-lila-dark-9 {
  color: #100e12;
}

.text-lila-dark-9-hover:hover {
  color: #100e12;
}

.bg-lila-dark-9 {
  background-color: #100e12;
}

.bg-lila-dark-9-hover:hover {
  background-color: #100e12;
}

.text-green {
  color: #81c14b;
}

.text-green-hover:hover {
  color: #81c14b;
}

.bg-green {
  background-color: #81c14b;
}

.bg-green-hover:hover {
  background-color: #81c14b;
}

.text-green-light-1 {
  color: #8ec75d;
}

.text-green-light-1-hover:hover {
  color: #8ec75d;
}

.bg-green-light-1 {
  background-color: #8ec75d;
}

.bg-green-light-1-hover:hover {
  background-color: #8ec75d;
}

.text-green-light-2 {
  color: #9acd6f;
}

.text-green-light-2-hover:hover {
  color: #9acd6f;
}

.bg-green-light-2 {
  background-color: #9acd6f;
}

.bg-green-light-2-hover:hover {
  background-color: #9acd6f;
}

.text-green-light-3 {
  color: #a7d481;
}

.text-green-light-3-hover:hover {
  color: #a7d481;
}

.bg-green-light-3 {
  background-color: #a7d481;
}

.bg-green-light-3-hover:hover {
  background-color: #a7d481;
}

.text-green-light-4 {
  color: #b3da93;
}

.text-green-light-4-hover:hover {
  color: #b3da93;
}

.bg-green-light-4 {
  background-color: #b3da93;
}

.bg-green-light-4-hover:hover {
  background-color: #b3da93;
}

.text-green-light-5 {
  color: #c0e0a5;
}

.text-green-light-5-hover:hover {
  color: #c0e0a5;
}

.bg-green-light-5 {
  background-color: #c0e0a5;
}

.bg-green-light-5-hover:hover {
  background-color: #c0e0a5;
}

.text-green-light-6 {
  color: #cde6b7;
}

.text-green-light-6-hover:hover {
  color: #cde6b7;
}

.bg-green-light-6 {
  background-color: #cde6b7;
}

.bg-green-light-6-hover:hover {
  background-color: #cde6b7;
}

.text-green-light-7 {
  color: #d9ecc9;
}

.text-green-light-7-hover:hover {
  color: #d9ecc9;
}

.bg-green-light-7 {
  background-color: #d9ecc9;
}

.bg-green-light-7-hover:hover {
  background-color: #d9ecc9;
}

.text-green-light-8 {
  color: #e6f3db;
}

.text-green-light-8-hover:hover {
  color: #e6f3db;
}

.bg-green-light-8 {
  background-color: #e6f3db;
}

.bg-green-light-8-hover:hover {
  background-color: #e6f3db;
}

.text-green-light-9 {
  color: #f2f9ed;
}

.text-green-light-9-hover:hover {
  color: #f2f9ed;
}

.bg-green-light-9 {
  background-color: #f2f9ed;
}

.bg-green-light-9-hover:hover {
  background-color: #f2f9ed;
}

.text-green-dark-1 {
  color: #74ae44;
}

.text-green-dark-1-hover:hover {
  color: #74ae44;
}

.bg-green-dark-1 {
  background-color: #74ae44;
}

.bg-green-dark-1-hover:hover {
  background-color: #74ae44;
}

.text-green-dark-2 {
  color: #679a3c;
}

.text-green-dark-2-hover:hover {
  color: #679a3c;
}

.bg-green-dark-2 {
  background-color: #679a3c;
}

.bg-green-dark-2-hover:hover {
  background-color: #679a3c;
}

.text-green-dark-3 {
  color: #5a8735;
}

.text-green-dark-3-hover:hover {
  color: #5a8735;
}

.bg-green-dark-3 {
  background-color: #5a8735;
}

.bg-green-dark-3-hover:hover {
  background-color: #5a8735;
}

.text-green-dark-4 {
  color: #4d742d;
}

.text-green-dark-4-hover:hover {
  color: #4d742d;
}

.bg-green-dark-4 {
  background-color: #4d742d;
}

.bg-green-dark-4-hover:hover {
  background-color: #4d742d;
}

.text-green-dark-5 {
  color: #416126;
}

.text-green-dark-5-hover:hover {
  color: #416126;
}

.bg-green-dark-5 {
  background-color: #416126;
}

.bg-green-dark-5-hover:hover {
  background-color: #416126;
}

.text-green-dark-6 {
  color: #344d1e;
}

.text-green-dark-6-hover:hover {
  color: #344d1e;
}

.bg-green-dark-6 {
  background-color: #344d1e;
}

.bg-green-dark-6-hover:hover {
  background-color: #344d1e;
}

.text-green-dark-7 {
  color: #273a17;
}

.text-green-dark-7-hover:hover {
  color: #273a17;
}

.bg-green-dark-7 {
  background-color: #273a17;
}

.bg-green-dark-7-hover:hover {
  background-color: #273a17;
}

.text-green-dark-8 {
  color: #1a270f;
}

.text-green-dark-8-hover:hover {
  color: #1a270f;
}

.bg-green-dark-8 {
  background-color: #1a270f;
}

.bg-green-dark-8-hover:hover {
  background-color: #1a270f;
}

.text-green-dark-9 {
  color: #0d1308;
}

.text-green-dark-9-hover:hover {
  color: #0d1308;
}

.bg-green-dark-9 {
  background-color: #0d1308;
}

.bg-green-dark-9-hover:hover {
  background-color: #0d1308;
}

.text-blue {
  color: #2374ab;
}

.text-blue-hover:hover {
  color: #2374ab;
}

.bg-blue {
  background-color: #2374ab;
}

.bg-blue-hover:hover {
  background-color: #2374ab;
}

.text-blue-light-1 {
  color: #3982b3;
}

.text-blue-light-1-hover:hover {
  color: #3982b3;
}

.bg-blue-light-1 {
  background-color: #3982b3;
}

.bg-blue-light-1-hover:hover {
  background-color: #3982b3;
}

.text-blue-light-2 {
  color: #4f90bc;
}

.text-blue-light-2-hover:hover {
  color: #4f90bc;
}

.bg-blue-light-2 {
  background-color: #4f90bc;
}

.bg-blue-light-2-hover:hover {
  background-color: #4f90bc;
}

.text-blue-light-3 {
  color: #659ec4;
}

.text-blue-light-3-hover:hover {
  color: #659ec4;
}

.bg-blue-light-3 {
  background-color: #659ec4;
}

.bg-blue-light-3-hover:hover {
  background-color: #659ec4;
}

.text-blue-light-4 {
  color: #7baccd;
}

.text-blue-light-4-hover:hover {
  color: #7baccd;
}

.bg-blue-light-4 {
  background-color: #7baccd;
}

.bg-blue-light-4-hover:hover {
  background-color: #7baccd;
}

.text-blue-light-5 {
  color: #91bad5;
}

.text-blue-light-5-hover:hover {
  color: #91bad5;
}

.bg-blue-light-5 {
  background-color: #91bad5;
}

.bg-blue-light-5-hover:hover {
  background-color: #91bad5;
}

.text-blue-light-6 {
  color: #a7c7dd;
}

.text-blue-light-6-hover:hover {
  color: #a7c7dd;
}

.bg-blue-light-6 {
  background-color: #a7c7dd;
}

.bg-blue-light-6-hover:hover {
  background-color: #a7c7dd;
}

.text-blue-light-7 {
  color: #bdd5e6;
}

.text-blue-light-7-hover:hover {
  color: #bdd5e6;
}

.bg-blue-light-7 {
  background-color: #bdd5e6;
}

.bg-blue-light-7-hover:hover {
  background-color: #bdd5e6;
}

.text-blue-light-8 {
  color: #d3e3ee;
}

.text-blue-light-8-hover:hover {
  color: #d3e3ee;
}

.bg-blue-light-8 {
  background-color: #d3e3ee;
}

.bg-blue-light-8-hover:hover {
  background-color: #d3e3ee;
}

.text-blue-light-9 {
  color: #e9f1f7;
}

.text-blue-light-9-hover:hover {
  color: #e9f1f7;
}

.bg-blue-light-9 {
  background-color: #e9f1f7;
}

.bg-blue-light-9-hover:hover {
  background-color: #e9f1f7;
}

.text-blue-dark-1 {
  color: #20689a;
}

.text-blue-dark-1-hover:hover {
  color: #20689a;
}

.bg-blue-dark-1 {
  background-color: #20689a;
}

.bg-blue-dark-1-hover:hover {
  background-color: #20689a;
}

.text-blue-dark-2 {
  color: #1c5d89;
}

.text-blue-dark-2-hover:hover {
  color: #1c5d89;
}

.bg-blue-dark-2 {
  background-color: #1c5d89;
}

.bg-blue-dark-2-hover:hover {
  background-color: #1c5d89;
}

.text-blue-dark-3 {
  color: #195178;
}

.text-blue-dark-3-hover:hover {
  color: #195178;
}

.bg-blue-dark-3 {
  background-color: #195178;
}

.bg-blue-dark-3-hover:hover {
  background-color: #195178;
}

.text-blue-dark-4 {
  color: #154667;
}

.text-blue-dark-4-hover:hover {
  color: #154667;
}

.bg-blue-dark-4 {
  background-color: #154667;
}

.bg-blue-dark-4-hover:hover {
  background-color: #154667;
}

.text-blue-dark-5 {
  color: #123a56;
}

.text-blue-dark-5-hover:hover {
  color: #123a56;
}

.bg-blue-dark-5 {
  background-color: #123a56;
}

.bg-blue-dark-5-hover:hover {
  background-color: #123a56;
}

.text-blue-dark-6 {
  color: #0e2e44;
}

.text-blue-dark-6-hover:hover {
  color: #0e2e44;
}

.bg-blue-dark-6 {
  background-color: #0e2e44;
}

.bg-blue-dark-6-hover:hover {
  background-color: #0e2e44;
}

.text-blue-dark-7 {
  color: #0b2333;
}

.text-blue-dark-7-hover:hover {
  color: #0b2333;
}

.bg-blue-dark-7 {
  background-color: #0b2333;
}

.bg-blue-dark-7-hover:hover {
  background-color: #0b2333;
}

.text-blue-dark-8 {
  color: #071722;
}

.text-blue-dark-8-hover:hover {
  color: #071722;
}

.bg-blue-dark-8 {
  background-color: #071722;
}

.bg-blue-dark-8-hover:hover {
  background-color: #071722;
}

.text-blue-dark-9 {
  color: #040c11;
}

.text-blue-dark-9-hover:hover {
  color: #040c11;
}

.bg-blue-dark-9 {
  background-color: #040c11;
}

.bg-blue-dark-9-hover:hover {
  background-color: #040c11;
}

.text-black {
  color: #000;
}

.text-black-hover:hover {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.bg-black-hover:hover {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.text-white-hover:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-white-hover:hover {
  background-color: #fff;
}

.border-fire {
  border-color: #ef3e36;
}

.border-cyan {
  border-color: #17bebb;
}

.border-salmon {
  border-color: #a63a50;
}

.border-cream {
  border-color: #f0e7d8;
}

.border-yellow {
  border-color: #ffe347;
}

.border-lila {
  border-color: #9c89b8;
}

.border-green {
  border-color: #81c14b;
}

.border-blue {
  border-color: #2374ab;
}

.border-black {
  border-color: #000;
}

.border-white {
  border-color: #fff;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0.5em 0.25em;
  border-radius: 0.5rem;
}/*# sourceMappingURL=index.css.map */