@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

*:focus {
	outline: none;
}

img {
	max-width: 100;
}

a {
	text-decoration: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
